{% extends 'base.html.twig' %}

{% block title %}
    {{ user.lastname }}&nbsp;{{ user.firstname }}
{% endblock %}

{% block body %}
    <div>
        <a class="lien-retour" href="{{ path("annuaire") }}">Retour</a>
    </div>
    <div class="form-modify">
        <h1>{{ user.firstname }}&nbsp;{{ user.lastname }}</h1>
        <table class="table-user">
            <tr>
                <td>
                    Prénom
                </td>
                <td>
                    {{ user.firstname }}
                </td>
            </tr>
            <tr>
                <td>
                    Nom de famille
                </td>
                <td>
                    {{ user.lastname }}
                </td>
            </tr>
            <tr>
                <td>
                    Date de naissance
                </td>
                <td>
                    {{ user.birthdate|date('d/m/Y') }}
                </td>
            </tr>
            <tr>
                <td>
                    Lieu de naissance
                </td>
                <td>
                    {{ user.placebirth }}
                </td>
            </tr>
            <tr>
                <td>
                    E-Mail
                </td>
                <td>
                    {{ user.mail }}
                </td>
            </tr>
            <tr>
                <td>
                    Tél. fixe
                </td>
                <td>
                    {{ user.homephone }}
                </td>
            </tr>
            <tr>
                <td>
                    Tél. mobile
                </td>
                <td>
                    {{ user.mobilephone }}
                </td>
            </tr>
            <tr>
                <td>
                    Bureau
                </td>
                <td>
                    {{ user.office }}
                </td>
            </tr>
            <tr>
                <td>
                    Bâtiment
                </td>
                <td>
                    {{ user.building }}
                </td>
            </tr>
            <tr>
                <td>
                    Tutelle
                </td>
                <td>
                    {{ user.tutelle }}
                </td>
            </tr>
            <tr>
                <td>
                    Est du laboratoire
                </td>
                <td>
                    {% if user.ingeeps == 1 %}Oui{% else %}Non
                    {% endif %}
                </td>
            </tr>
            {% if user.ingeeps == 1 %}
                <tr>
                    <td>
                        Date d'arrivée
                    </td>
                    <td>
                        {{ user.arrivaldate|date('d/m/Y') }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Date de départ
                    </td>
                    <td>
                        {{ user.departuredate|date('d/m/Y') }}
                    </td>
                </tr>
            {% endif %}
            <tr>
                <td>
                    Contrat
                </td>
                <td>
                    {% if contrat %}
                        <a href="{{ path('display_contrat', { 'id_contrat': contrat.id, 'id': user.id }) }}">
                            <button class="button-view" title="Voir"><img src="{{ asset('img/view-100.png') }}" alt="Voir"></button>
                        </a>
                        <a href="{{ path('form_contrat', { 'id': user.id, 'id_contrat': contrat.id }) }}">
                            <button class="button-edit" title="Modifier"><img src="{{ asset('img/edit-100.png') }}" alt="Modifier"></button>
                        </a>
                        <a href="{{ path('delete_contrat', { 'id_contrat': contrat.id, 'id': user.id }) }}">
                            <button class="button-delete" title="Supprimer" onclick="return confirm('Etes-vous sûr ?');"><img src="{{ asset('img/delete-100.png') }}" alt="Supprimer"></button>
                        </a>
                    {% else %}
                        <a href="{{ path('form_contrat', { 'id': user.id, 'id_contrat': '-1' }) }}">
                            <button class="btn-add-contrat" title="Modifier">Ajouter</button>
                        </a>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>
                    Compte
                </td>
                <td>
                    {% if compte %}
                        <a href="{{ path('display_compte', { 'id_compte': compte.id, 'id': user.id }) }}">
                            <button class="btn-see-user" title="Voir">Voir</button>
                        </a>
                    {% else %}
                        <a href="{{ path('form_compte', { 'id': user.id, 'id_compte': '-1' }) }}">
                            <button class="btn-add-contrat" title="Modifier">Ajouter</button>
                        </a>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>
                    Activités
                </td>
                <td>
                    <a href="{{ path('display_personne_activities', { 'id': user.id }) }}">
                        <button class="btn-see-user">Voir</button>
                    </a>
                </td>
            </tr>
        </table>
        <table class="table-btn" style="width: 100%; text-align:center;">
            <tr>
                <td>
                    <a href="{{ path('form_personne', { 'id': user.id }) }}">
                        <button class="btn-modify-user">Modifier</button>
                    </a>
                </td>
                <td>
                    {% if app.user.id == user.id %}
                        <a href="{{ path('security_logout') }}">
                            <button class="btn-delete-user">Se déconnecter</button>
                        </a>
                    {% else %}
                        <a href="{{ path('delete', { 'id': user.id }) }}">
                            <button class="btn-delete-user" onclick="return confirm('Etes-vous sûr ?');">Supprimer</button>
                        </a>
                    {% endif %}
                </td>
            </tr>
        </table>
    </div>
{% endblock %}
