{% extends 'base.html.twig' %}

{% block title %}Activités
{% endblock %}

{% block body %}
    <script>
        $(document).ready(function () {
            $('#annuaire').DataTable({
                "responsive": true,
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
                }
            });
        });
    </script>

    <div>
        <a class="lien-retour" href="{{ path("annuaire") }}">Accueil</a>
    </div>

    <div class="tab-block">
        <h1>Gérer les activités</h1>
        <a class="btn-accueil" href="{{ path('form_activity', { 'id': '-1' }) }}">
            <button class="button-add" title="Ajouter">Ajouter une activité</button>
        </a>
        <div class="annuaire-container">
            <table class="table-annuaire cell-border" id="annuaire">
                <thead>
                    <tr>
                        <th>
                            Activité
                        </th>
                        <th>
                            Type
                        </th>
                        <th>
                            Couleur
                        </th>
                        <th>
                            Description
                        </th>
                        <th>
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for activity in activities %}
                        <tr>
                            <td>
                                {{ activity.label }}
                            </td>
                            <td>
                                {{ activity.typeof }}
                            </td>
                            <td>
                                {{ activity.color }}
                            </td>
                            <td>
                                {{ activity.description }}
                            </td>
                            <td>
                                <span class="do-not-wrap">
                                    <a href="{{ path('form_activity', { 'id': activity.id }) }}">
                                        <button class="button-edit" title="Modifier"><img src="{{ asset('img/edit-100.png') }}" alt="Modifier"></button>
                                    </a>
                                    <a href="{{ path('delete_activity', { 'id': activity.id }) }}">
                                        <button class="button-delete" title="Supprimer" onclick="return confirm('Etes-vous sûr ?');"><img src="{{ asset('img/delete-100.png') }}" alt="Supprimer"></button>
                                    </a>
                                </span>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot></tfoot>
            </table>
        </div>
    </div>
{% endblock %}
